<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Ninja Gold</title>
	<!-- linking a css style sheet -->
	{% load static %}
<!-- The line above tells Django to be ready to listen for static files -->
	<link rel="stylesheet" href="{% static 'ninjagold/css/style.css' %}" media="screen" title="no title"  charset="utf-8">
<!-- Put the static files in the static folder inside your app.  Django collects files within all static folders and puts them within a single folder --> 
</head>
<body>
	<header>
		<div class = "goldscore">
			<p>Your Gold:</p>
			<div class="gold">{{ request.session.gold_amount }}</div>
		</div>
	</header>
	<main>
		<div>
			<h5>Farm</h5>
			<p>(earns 10-20 golds)</p>
			<form method="post" action="/process_money/farm">
				{% csrf_token %}
				<input type="submit" value="Find Gold!"/>
			</form>
		</div>
		<div>
			<h5>Cave</h5>
			<p>(earns 5-10 golds)</p>
			<form method="post" action="/process_money/cave">
				{% csrf_token %}
				<input type="submit" value="Find Gold!"/>
			</form>
		</div>
		<div>
			<h5>House</h5>
			<p>(earns 2-5 golds)</p>
			<form method="post" action="/process_money/house">
				{% csrf_token %}
				<input type="submit" value="Find Gold!"/>
			</form>
		</div>
		<div>
			<h5>Casino</h5>
			<p>(earns 0-50 golds)</p>
			<form method="post" action="/process_money/casino">
				{% csrf_token %}
				<input type="submit" value="Find Gold!"/>
			</form>
		</div>
	</main>
	<div class="activities">
		<h5>Activities</h5>
		{% for activity in request.session.activitylist %}
		<div>
			<p class="message">{{activity}}</p>
		</div>
		{% endfor %}
	</div>

</body>
</html>